.Servings {
    border-radius: 5px;
    font-weight: 200;
    font-size: 0.8rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: clip;
    

    color: var(--color-neutral-500);
    background-color: var(--color-neutral-800);
}

.Servings__button {
    padding: 10px;

    cursor: pointer;
    border: none;
    background-color: transparent;

    background-color: var(--color-neutral-700);
}

.Servings__count {
    padding: 10px;
    margin: 0;
    width: 3rem;

    outline: none;
    text-align: center;
    border: none;
    background-color: transparent;
}