.Navigation {
    width: 100%;
    padding: 10px 20px;
    bottom: 0;

    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: var(--color-light-slight);
}

.Navigation__item a {
    font-size: 1rem;

    text-decoration: none;

    color: var(--color-dark-secondary);
}

.Navigation__item a svg {
    padding: 10px;
}