:root {
    --color-light-primary: #FFFFFF;
    --color-light-secondary: #EAEAEA;
    --color-light-detail: #d9cdcd;

    --color-dark-primary: #232228;
    --color-dark-secondary: #3F3E44;
    --color-dark-detail: #717074;

    --color-highlight-primary: #F56B6B;
    --color-highlight-secondary: #E35C5C;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    background-color: var(--color-light-primary);
    color: var(--color-dark-primary);
}

* {
    box-sizing: border-box;
}