:root {
    --color-neutral-100: #232228; /* Title */
    --color-neutral-200: #2b2a31; /* Subtitle */
    --color-neutral-500: #3F3E44;
    --color-neutral-300: #54535a;
    --color-neutral-400: #717074;
    --color-neutral-600: #EAEAEA; 
    --color-neutral-700: #F2F2F2;
    --color-neutral-800: #F7F7F7; /* Background Subtle */
    --color-neutral-900: #FFFFFF; /* Background Primary */

    --color-highlight-100: #430707;
    --color-highlight-200: #771414;
    --color-highlight-300: #912121;
    --color-highlight-400: #ae3232;
    --color-highlight-500: #cc4545;
    --color-highlight-600: #E35C5C; /* Highlight Secondary */
    --color-highlight-700: #F56B6B; /* Highlight Primary */
    --color-highlight-800: #F7AFAF;
    --color-highlight-900: #FFF2F2;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    background-color: var(--color-neutral-900);
    color: var(--color-neutral-100);
}

* {
    box-sizing: border-box;
}