/* .SearchBar {
    
}
 */
.SearchBar__input {
    border: none;

    width: 100%;
    padding: 20px;
    border-radius: 10px;

    background-color: var(--color-light-secondary);
    color: var(--color-dark-secondary);
}